*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
}
.box1{
    height: 300px;
    width: 300px;
    background-color: #fff;
}
.box2{
    height: 300px;
    width: 300px;
    background-color: #005494;
}
.box3{
    height: 300px;
    width: 300px;
    background-color: #24b008;
}